* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f7fc;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.action-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.action-btn button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4eaaff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-btn button:hover {
  background-color: #3687cc;
}

.show-dest {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.dest-section {
  padding: 20px;
}

.dest-info {
  padding: 20px;
  border-top: 1px solid #ccc;
}

.mat-action-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.mat-action-row button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mat-action-row button:hover {
  background-color: #d32f2f;
}
.dest-info span {
  display: block; /* Promijenjeno u blok elemente */
  margin-top: 20px; /* Smanjena margina između elemenata */
}